<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style/admin.css">
    <title>上传缩略图</title>
</head>
<body id="mian">
<form action="../config/upload.php" method="post" enctype="multipart/form-data" style="text-align: center">
    <input type="hidden" name="MAX_FILE_SIZE" value="204800" />
    <input type="file" name="pic">
    <input type="submit" name="send" value="上传" />
</form>
</body>
</html>
<!--<!DOCTYPE html-->
        <!--PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"-->
        <!--"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; chartser=utf-8" >-->
    <!--<title>上传缩略图</title>-->
    <!--<link rel="stylesheet" type="text/css" href="../style/admin.css">-->
<!--</head>-->
<!--<body id="mian">-->
    <!--<form action=upload.php"" method="post" enctype="multipart/form-data" style="text-align: center">-->
        <!--<input type="hidden" name="MAX_FILE_SIZE" value="204800" />-->
        <!--<input type="file" name="pic">-->
        <!--<input type="submit" name="send" value="上传" />-->
    <!--</form>-->
<!--</body>-->
<!--</html>-->
